.block_btn{
    display: inline-block;
    background-color: #eb2f06;
    padding: 8px 25px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #eb2f06;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.block_btn:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #d03412;
    border-color:#d03412;
    top: -100%;
    left: 0;
    z-index: -1;
    visibility: hidden;
    transition: .4s;
}
.block_btn:hover{
    color: #fff!important;
}
.block_btn:hover::before {
    visibility: visible;
    top: 0%;
}
.radius_btn {
    display: inline-block;
    background-color: #fff;
    padding: 10px 42px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    color: #eb2f06;
}
.block_item {
    padding: 4px 5px;
    background-color: red;
    align-self: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/* ==============header start============== */
.header_area {
    padding: 15px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border-bottom: none;
}
.navbar-home {
    background-color: #fff;
    box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    transform: translateY(0);
    transition: all 0.4s;  
    width: 100%; 
}
.main_logo {
    font-size: 24px;
    font-weight: bold;
}
.main_logo a span {
    color: #eb2f06;
}
.login a {
    display: inline-flex;
    vertical-align: middle;
}
.main_logo img {
    width: 112px;
    height: 100px;
}
.login img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}
.header_cont{
    display: flex;
    justify-content: space-between;
}
/* ==============header end============== */

/* ==============banner start============== */
.banner_area {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    z-index: 1;
}
.banner_area:after {
    position: absolute;
    content: "";
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}
.home_banner_area {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.home_banner_area:after {
    position: absolute;
    content: "";
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}
.main_banner {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
}
.main_title {
    font-size: 50px;
    text-shadow: 1px 0px 1px #fff;
    color: #fff;
}
.main_search {
    background-color: #fff;
    padding: 10px;
}
.main_search_form{
    display: flex;
    justify-content: space-between;
}
.search_location {
    display: flex;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
    justify-content: space-between;
}
.search_location input {
    padding: 0px 10px;
    width: -webkit-fill-available;
    border: none;
}
.search_location img {
    width: 50px;
    padding: 10px;
}



.main_search_form button {
    padding: 9px 15px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    background-color: #eb2f06;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 1px;
    position: relative;
}
/* ==============banner end============== */




/* ==============City start============== */
.single_city{
    position: relative;
}
.city_img img {
    height: 280px;
    width: 100%;
}
.city_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #fff;
}
.city_link {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #eb2f06;
    cursor: pointer;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.city_link a{
    color:#fff;
}
/* ==============City end============== */

/* ==============Partner start============== */
.partner_area, .office_area {
    background-image: url(../img/chefscook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
    margin-top: 120px;
}
.partner_section_title,.office_section_title {
    position: absolute;
    top: -72px;
    z-index: 11;
}
.partner_cont, .office_cont {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 220px;
}
.partner_cont h2,.office_cont h2{
    font-size: 30px;
}
/* ==============Partner end============== */

/* ==============Office start============== */
.office_area {
    background-image: url(../img/office.jpg);
}
/* ==============Office end============== */





/* ==============Footer start============== */
.footer_top{
    padding:40px 0px;
    background-color:#FAFAFA;
}
.footer_col h4 {
    text-transform:uppercase;
    margin: 0px 0px 20px 0px;
    font-size: 22px;
    position:relative;
}
.footer_col h4:before{
    position:absolute;
    content:"";
    width:5px;
    height:13px;
    background-color: #eb2f06;
    top:50%;
    transform:translateY(-50%);
    left:-20px;
    
}
.footer_col p {
    font-size: 15px;
    line-height: 1.6;
    color: #1A1A1A;
}
.footer_pm{
    margin-bottom:30px;
}
.footer_col:first-child{
    padding-right:40px;
}
.footer_col ul li{
    margin: 0px 0px 20px 0px;
    line-height:1.5;
    font-weight:300;
}
.footer_col ul li i{
    padding:10px;
    border:1px solid red;
}
.footer_col ul li a {
    display: block;
    color:#333132;
}
.footer_col ul li a:hover{
    color:#C5A47E;
}
.footer_contact li{
    position:relative;
}
.footer_contact li::before{
    position: absolute;
    font-family: fontAwesome;
    text-align: center;
    top:0;
    left: -40px;
    color: #333132;
    width:25px;
    height:25px;
    border:1px solid #eb2f06;
    line-height:25px;
    margin-right:20px;
}
.footer_contact li:nth-child(1)::before{
    content: "\f015";
}
.footer_contact li:nth-child(2)::before{
    content: "\f095";
}
.footer_contact li:nth-child(3)::before{
    content: "\f15b";
}
.footer_contact li:nth-child(4)::before{
    content: "\f0e0";
}
.footer_service li{
    position:relative;
}
.footer_service li::before {
    position: absolute;
    content: "\f101";
    font-family: fontAwesome;
    text-align: center;
    top: 0;
    left: -20px;
    color: #eb2f06;
}
.footer_col input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    width: 100%;
}
.footer_col input[type="submit"] {
    background-color: #eb2f06;
    color: #fff;
    border: navajowhite;
    padding: 10px 38px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s;
}
.footer_col input[type="submit"]:hover {
    background-color: #000000;
    transition:.5s;
}
.footer_bottom{
    background-color:#e6e2e2;
    color:#000;
    padding:20px 0px;
}
.footer_bottom_con p{
    margin-bottom:0px;
}
/* ==============Footer end============== */






/* ===================== Partner page ===================== */
.partner_banner_area{
    background-image: url('../img/partner_bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
}
.partner_main_banner {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}


/* ============== about start ============== */
.partner_main_title {
    color: #fff;
    font-size: 48px;
}
.about_single_item_title {
    font-size: 30px;
    color:#eb2f06;
}


.about_bottom_area{
    background-color: #eb2f06;
    color:#fff;
}
.about_bottom_title{
    color:#fff;
}
.about_bottom {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.about_bottom_cont {
    color: #fff;
}
/* ============== about end ============== */


/* ============== work flow start ============== */
.work_flow_item img, .activation_item img {
    height: 120px;
    width: 120px;
    margin: 0 auto;
}
/* ============== work flow end ============== */


/* ============== activation flow start ============== */
.activation_item_cont span {
    font-weight: bold;
    padding-right: 2px;
}
.activation_item {
    text-align: center;
}
.activation_item_cont {
    font-size: 17px;
}

/* ============== activation flow end ============== */


/* ============== activation flow start ============== */
.partnership_right {
    padding: 45px;
    text-align: center;
}
.partnership_left{
    border:1px solid #FF7142;
}
.form-box input {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #e0d9d9;
}
.form-box select {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #e0d9d9;
    color: #777;
}
.form-box input[type="date"] {
    color:#777;
}
.form-box {
    margin-bottom: 20px;
}
.partnership_right .hour_title {
    font-size: 28px;
}
.partnership-btn input[type="submit"] {
    width: 160px;
    margin-top: 20px;
}
.form-box {
    text-align: left;
}
.payment_title {
    margin-top: 22px;
    margin-bottom: 29px;
    display: block;
}
.form-box input[type="checkbox"] , .form-box input[type="radio"]{
    width: auto;
    cursor: pointer;
 } 
 .partnership_left img {
    height: 250px;
}
.partnership-form textarea {
    width: 100%;
    height: 86px;
    border: 1px solid #ddd;
    padding: 10px;
}
/* ============== activation flow end ============== */

/* ============== restaurant start ============== */
.restaurant_img {
    position: relative;
}
.freedelivery {
    background-color: #eb2f06;
    color: #fff;
    padding: 3px 18px;
    position: absolute;
    bottom: 0;
}
.deliverytime {
    background-color: #fff;
    padding: 8px 7px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    background: #eb2f06;
}
.restaurant_img img {
    height: 190px;
}
.restaurant_slider .owl-nav div {
    width: 35px;
    height: 35px;
    background-color: #FF7142;
    line-height: 35px;
    text-align: center;
    color: #fff;
    left: -55px;
    top: 40%;
    position: absolute;
    transform: translateY(-50%);
    transition: .5s;
}
.restaurant_slider .owl-nav div.owl-next {
    right: -55px;
    left: auto;
}
.restaurant_title {
    font-size: 22px;
}
.restaurant_sub {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}
.restaurant_title {
    font-size: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8em;
}
.restaurant_rating i {
    font-size: 13px;
    padding-right: 3px;
    color: #eb2f06;
}
.restaurant_rating {
    font-size: 14px;
}

/* ============== restaurant end ============== */


/* ============== restaurant search and filter start  ============== */
.search_restaurant {
    display: flex;
    background-color: #fff;
}
.search{
    width:20%;
    cursor: pointer;
    padding: 15px;
}
.search input {
    padding: 0px 10px;
    border: none;
}
.search span i {
    padding: 7px;
}
.filter{
    width:80%; 
    cursor: pointer;
    border-left: 1px solid #ddd;
    padding: 15px;
}
.search span {
    display: flex;
    vertical-align: middle;
}
.filter span {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    position: relative;
}
.filter_cont {
    display: none;
    width: 94.7%;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 58px;
    z-index: 11;
    background-color: #fff;
    box-shadow: 0px 3px 12px -2px rgba(149, 149, 247, 0.25)
}

/* ============== restaurant search and filter end  ============== */

/* ============== login start ============== */
.login_area {
    display: flex;
    background: #000;
    padding: 80px 0px;
}
.login_left_top img {
    width: 100px;
    height: 45px;
    margin: 0 auto;
}
.login_left_top_logo {
    position: relative;
}
.login_left_top_btn {
    position: absolute;
    right: 48px;
    top: 0;
}
.sign_up_btn {
    background-color: red;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 2px;
    transition: .5s;
}
.sign_up_btn:hover{
    background-color: red;
    color:#fff;
}
.login_left {
    flex: 0 0 50%;
    color: #fff;
    position: relative;
}
.right_arrow_btn img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.right_arrow_btn {
    position: absolute;
    left: 20px;
    top: 0;
}
.login_form_area {
    width: 310px;
    margin: 25px auto;
}
.login_title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
    color: #fff;
}
.login_sub {
    text-align: center;
    margin-bottom: 10px;
    color: #999;
}
.login_title_area {
    margin-bottom: 30px;
}
.login_group label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.login_group input, .recover_password_area input[type="email"]{
    width: 100%;
    padding: 7px 10px;
    border-radius: 2px;
    border: none;
    background-color: #444444;
    font-size: 15px;
    color: #fff;
}
.login_group input::-webkit-input-placeholder{
    color:#d4c6c6ba;
}
.login_group {
    margin-bottom: 22px;
}
.login_group input[type="submit"] {
    background-color: red;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid red;
    cursor: pointer;
}
/* Login right */
.login_right {
    background-image: url(../img/111.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    width: 50%;
}
.login_right:after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}
.login_right_cont_area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 30px;
}
.login_right_cont {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* Login Social */
.login_social {
    display: flex;
    flex-flow: wrap;
}
.social_item {
    padding: 7px 15px;
    background-color: red;
    margin: 0px 15px 15px 0px;
    width: 147px;
    border-radius: 2px;
}
.social_item p {
    color: #fff;
}
.social_item:nth-child(2n){
    margin-right:0px;
}
.social_item:nth-child(1){
    background-color:#3b5998;
}
.social_item:nth-child(2){
    background-color:#4481F7;
}
.social_item:nth-child(3){
    background-color:#55acee;
}
.social_item:nth-child(4){
    background-color:#ff4500;
}
.social_icon {
    font-size: 20px;
    padding-right: 2px;
}
.forgot_pass {
    float: right;
    font-size: 14px;
    color: #999;
    transition: .5s;
}
.forgot_pass:hover{
    color:red;
}
.login_social_cont {
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.login_social_cont2 {
    margin: 15px auto;
    text-align: center;
    line-height: 24px;
}
.login_social_title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff
}
.login_form_area.main_login {
    margin: 45px auto;
}
/* ============== login end ============== */

/* ============== Forgot Passwor start ============== */
.recover_password_area {
    text-align: center;
}
.recover_password_title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 17px;
    color: #fff;
}
.recover_password_area {
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.recover_password_area input[type="email"]{
    width:280px;
}
.recover_password_sub {
    margin-bottom: 20px;
    color: #999;
}
.recover_password_area input[type="submit"] {
    padding: 6px 10px;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
}
.forgot_pass_main {
    height: -webkit-fill-available;
}
/* ============== Forgot Passwor start ============== */


/* ============== Restaurant Details start ============== */
/* .restaurant_details_banner{
    background-image: url('../img/banner.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
} */
.restaurant_details_title_area{
    padding: 18px 0px;
}
.restaurant_details_title_cont  {
    display: flex;
}
.restaurant_details_item_list {
    align-self: center;
    margin-left: 25px;
}
.restaurant_details_item_list li {
    margin-right: 12px;
    font-size: 18px;
    display: inline-block;
}
.restaurant_details_title {
    display: inline-block;
    margin-right: 25px;
}

.res_details_discount_area{
    padding: 18px 15px;
    background-color: #ECF0F1;
}
.res_details_discount {
    font-size: 26px;
}
/* ============== Restaurant Details end ============== */


/* ============== Restaurant Details Meal start ============== */
.restaurant_details_meal_menu {
    display: flex;
    padding: 15px 0px;
}
.restaurant_details_meal_menu li {
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.restaurant_details_meal {
    padding: 18px 0px;
    position: relative;
}
.restaurant_details_meal_list {
    padding: 20px 0px;
}
.restaurant_details_meal_list li {
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.2);
    padding: 18px 20px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
}
.restaurant_meal_new {
    margin-right: 15px;
}
.restaurant_meal_list_label{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
/* ============== Restaurant Details Meal end ============== */


/* ============== addtocart modal start ============== */
.addtocart_area_overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
    z-index: 999999;
}
.addtocart_area {
    background: #fff;
    position: relative;
    max-width: 526px;
    width: 100%;
    height: fit-content;
   /* overflow-y: auto;*/
    top: 0;
    left: 0;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 3px;
    box-shadow: -1px 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    opacity: 0;
    padding: 30px 28px;
    max-height: 465px;
}
.addtocart_toggle {
    float: right;
    margin-bottom: 14px;
    font-size: 20px;
    cursor: pointer;
}
.addtocart_modal_fadeIn {
    opacity: 1;
    visibility: visible;
}
.addtocart_modal_show {
    transform: translate(0, 10%);
    opacity: 1;
}
.reservation-btn {
    text-align: right;
}
.addtocart_title {
    margin-top: 22px;
    margin-bottom: 7px;
    display: block;
}
.addtocart_area .form-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0px 0px 0px;
}
.addcard {
    font-size: 17px;
}
.card_add {
    margin-right: 8px;
    font-size: 23px;
    color: red;
    font-weight: 600;
    cursor: pointer;
}
.card_minus {
    margin-left: 5px;
    font-size: 23px;
    color: green;
    font-weight: 500;
    cursor: pointer;
}
.addtocart_price {
    margin-bottom: 14px;
}
/* ============== addtocart modal end ============== */



/* ============== checkout start ============== */
.checkout_list_item {
    display: flex;
    justify-content: space-between;
}
.div{
    width:70%;
}
/* .single_restaurant_sidebar {
    width: 30%;
    position: fixed;
    right: 0;
    z-index: 11;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    top: 66px;
    height: 100%;
} */
.single_restaurant_sidebar {
    width: 30%;
    position: fixed;
    right: 0;
    z-index: 11;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    top: 66px;
    /* height: 100%; */
}
/* ============== checkout end ============== */



/* New CSS */
.login_list li {
    font-size: 18px;
    font-weight: 500;
}
.login_list li a {
    color: #000;
}
.login_list_dropdown_list li {
    padding: 10px 13px;
    font-size: 16px!important;
}
.login_list_dropdown_menu {
    display: flex;
    align-items: center;
    background-color: #f1d7d7;
    padding: 3px 5px;
    position: relative;
}
.login_list_dropdown_menu span {
    margin: 0px 2px 0px 3px;
}
.login_list_dropdown_list {
    position: absolute;
    top: 14px;
    left: -45px;
    background-color: #fff;
    border-radius: 2px;
    width: 120px;
}
.login_list_dropdown_list li:last-child {
    border-top:1px solid #ddd;
}


/* =======================Deshboard page===================== */
.dashboard-left {
    background-color: #F0F3F4;
    margin-top: 100px;
    position: absolute;
    width: 280px;
    left: 9%;
}
.dashboard-list li {
   margin-bottom: 0px;
   font-size: 17px;
   position: relative;
   cursor: pointer;
}
.dashboard-list li a {
    padding: 12px;
    display: block;
}
.dashboard-list li:hover{
   background-color: #283B6224;
   color:#283B62;
}
.dashboard-list li:hover i{
    color:#283B62;
    cursor: pointer;
}
.dashboard-list li i {
   color: #283B62ad;
   padding-right: 5px;
   font-size: 15px;  
}
.dashboard-list a:hover {
    color: #283B62!important;
}
.dash-active {
    background-color: #eb2f06!important;
}
.dash-active a, .dash-active a:hover{
    color: #fff!important;
}
.dashboard-list li a {
    padding: 12px;
    display: block;
    color: #222;
}
.dash-active i {
     color:#fff!important; 
}
.dashboard-right {
   background-color: #F0F3F4;
}
.dashboard-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 92px;
    display: flex;
    justify-content: space-between;
}
.desh-main-title {
    text-transform: capitalize;
    position: relative;
    padding: 14px;
    text-align: center;
}
.desh-user-info img {
   width: 100%;
   height: 275px;
   margin: 0 auto 20px auto;
}
.desh-user-info input {
   display: block;
   width: 100%;
   padding: 5px 10px;
   border: 1px solid #ddd;
   margin: 0 0 15px 0;
}
.desh-user-img{
   position: relative;
}
.change-img {
   position: absolute;
   top: 5px;
   right: 51%;
}
.change-img {
   position: absolute;
   top: 8px;
   right: 8px;
   background-color: #283B62;
   color: #fff;
   padding: 4px 21px;
   cursor: pointer;
}
/* Wish list*/

.wish-img img {
   width: 90px;
   height: 100%;
   margin-right: 7px;
}
.wish-item .feature-title {
   font-size: 15px;
   height: 26px;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.wish-item .price {
   font-size: 14px;
}
.all-wish-item {
   display: inline-block;
}
.wish-item {
   display: flex;
   margin-right: 20px;
   float: left;
   background: #fff;
   width: 382px;
   margin-bottom: 20px;
   position: relative;
}
.wish-item:nth-child(2n){
   margin-right: 0px;
}
.wish-cont {
   width: 246px;
   vertical-align: middle;
   padding: 15px 12px;
}
.wish-cancel {
   cursor: pointer;
   position: absolute;
   right: 12px;
   top: 5px;
}
.wish-item:nth-child(2n) {
   margin-right: 0px;
}
/* dashboard booking */
.dashboard-booking .desh-booked-cross{
   cursor: pointer;
   color:#283B62;
}
.desh-booked-cross li {
  font-size: 17px;
}
.dashboard-booking .listing-cont{
   background-color: #fff;
}
.dashboard-item-title {
   color: #283B62;
   font-size: 21px;
   margin-bottom: 10px;
}
.dashboard-item-list li {
    margin-bottom: 3px;
    color: #eb2f06;
    font-weight: bold;
    font-size: 20px;
}

/* dashboard review */
.listing-social.user-review-item li {
   margin-right: 2px;
   color: #283B62;
}
.dashboard-review .listing-cont {
   background: #fff;
}
/* dashboard subscription */
.desh-subscription label{
   display: block;
}

.feature-view {
    margin-top: 18px;
}
.feature-title {
    color: #5272b2;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    display: -webkit-box;
    height: 36px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feature-sub {
    display: -webkit-box;
    height: 30px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feature-list{
     display: -webkit-box;
    height: 30px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-blog .feature-title{
    font-size:18px;
}
.feature-view li a {
    padding: 8px 24px;
    border: 1px solid #5272b2;
    color:#283b62;
    transition: .5s;
}
.feature-view li a:hover {
    background-color:#283b62;
    color:#fff; 
}
.feature-content{
    padding: 35px 15px;
}




.checkout_area {
    border-bottom: 1px solid #e6e2e2;
    padding-bottom: 20px;
}
.sidebar_bottom_item {
    width: 100%;
    border: 1px solid #e6e2e2;
    padding: 16px 10px;
    float: left;
    color: #B50400;
    margin: 20px 0px 0px 0px;
}

.dashboard-review, .dashboard-user, .dashboard-default, .desh-user-info, .dashboard-food {
    /* background-color: #ddd; */
    padding: 130px 20px!important;
}
.res_profile_bg{
    height:100vh;
}
.banner_img img {
    height: 80vh;
}
.banner_img {
    position: relative;
}
.banner_title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    text-transform: capitalize;
    font-size: 40px;
}
.banner_img::after{
    position: absolute;
    content:"";
    width:100%;
    height: 100%;
    left:0;
    top:0;
    background-color: #000000;
    opacity: .5;
}
.restaurant_details_banner img {
    height: 300px;
}
.addtocart_option_list li {
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #eb2f06;
    border-radius: 2px;
}
.addtocart_option_list {display: -webkit-box;}
.restaurant_meal_price_area {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.addtocart_option_list li:nth-child(2) {
    background-color: #eb2f06;
    color:#fff;
}
.addtocart_option_list li:nth-child(2) span {
    font-size: 16px;
}
.addcart_items_list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
}
.addcart_items {
    margin-top: 10px;
}
.addcart_items_title h3 {
    font-size: 18px;
}
.addcart_items_price {
    font-size: 14px;
}
.checkout_list_right span {
    font-weight: bold;
}


/* .addcart_items_list li:nth-child(1) {
    width: 40%;
}
.addcart_items_list li:nth-child(2) {
    width: 40%;
}
.addcart_items_list li:nth-child(3){
    width: 18%;
} */
.addtocart_option {
    display: flex;
}
.addtocart_option input[type="number"] {
    width: 52px;
    padding: 0px 3px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #f7f0f0;
    text-align: center;
}
.addtocart_option_list li i {
    display: list-item;
}
.cart_cancel {
    font-size: 19px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.my-custom-scrollbar {
    position: relative;
    max-height: 240px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.delivery_details_no {
    background-color: red;
    padding: 5px 14px;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 6px;
}
.delivery_details_1address {
    padding: 20px;
    background-color: #eff2f7;
    position: relative;
}
.deliver_details_1edit {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    color: red;
}
.deliver_details_1edit i{
    cursor: pointer; 
    font-weight: bold; 
}
.delivery_details_1_title h3{
    display: inline-block;
    font-size: 22px;
}
.delivery_details_subtitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.delivery_time{
    font-weight: normal;
}




.is-invalid{
    background-color: red;
    border:1px solid blue;
}
.login_form_area .main_logo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}



.personal_details_list li span {
    font-size: 18px;
    font-weight: 500;
}
.personal_details_list li {
    font-size: 16px;
}
.payment_img img {
    width: 300px;
    height: 110px;
}
.order_item_price_list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.restaurant_area {
    padding: 50px 0px;
}





/*  Review Page */
.box_general {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(3,27,78,0.06);
    background-color: #efefef;
}
.box_general.write_review h1 {
    font-weight: 500;
    font-size: 32px;
    font-size: 2rem;
}
.form-group {
    position: relative;
}
.rating {
    display: inline-block;
    position: relative;
}
.rating-input {
    display: none;
}
.rating:hover .rating-star:hover, .rating:hover .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star, .rating:hover .rating-star {
    cursor: pointer;
    float: right;
    display: block;
    margin-right: 3px;
    width: 37px;
    height: 37px;
    background: url(../img/stars.svg) 0 -38px;
}
.box_general label {
    font-weight: 500;
    margin-bottom: 3px;
    color: #222;
}
.box_general .form-control {
    height: calc(2.55rem + 2px);
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #efefef;
}
.latest_review>h4 {
    font-weight: 500;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-bottom: 20px;
}
.latest_review .review_listing {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #efefef;
    border-radius: 2px;
    padding:15px;
    margin-bottom:30px;
}
.add_bottom_10 {
    margin-bottom: 10px;
}
.review_listing h3 {
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
    margin: 8px 0 3px 0;
}
.review_listing h4 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 15px;
}
.review_listing ul {
    margin: 0;
    text-align: center;
    color: #999;
}
.review_listing ul li:first-child {
    float: left;
}
.review_listing ul li:last-child {
    float: right;
}
.review_listing ul li {
    display: inline-block;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.preparing_food {
    text-align: center;
}
.preparing_food_img img {
    height: 200px;
    width: 38%;
    margin: 20px auto;
}
.preparing_food_title h3 {
    font-size: 24px;
    margin: 10px 0px 15px 0px;
}








/* ==================== */
._1about_product {
    padding: 23px 0 16px;
}
._1about_product ._1title {
    font-size: 29px;
    margin: 00 0 31px;
}
._comments_items {
    border-bottom: 1px solid;
    padding: 12px 0 12px;
}
._comments_items_pro {
    font-size: 11px;
    color: #666;
    margin: 0px 0 0px;
}
._comments_items_name{
	    font-weight: bold;
    font-size: 14px;
}
._comments_items_pro_name {
    font-size: 14px;
    font-weight: bold;
    margin: 11px 0 3px;
}
._comments_items_details{
	flex: 1 1;
}
._comments_items_date {
    flex: 0 0 213px;
    text-align: right;
    padding: 0 0 0 19px;
}
._comments_items_date_text {
    font-size: 13px;
    color: #908a8a;
}
._1rating_list {
    display: flex;
    align-items: center;
    list-style: none;
}
._1rating_list li {
    color: #ddd;
    cursor: pointer;
    font-size: 13px;
    margin: 0 5px 0px 0;
}
._1rating_list_active {
    color: tomato !important;
}
._1rating {
    margin-top: 10px;
}
._comments_items_img {
    height: 45px;
    width: 70px;
    border-radius: 50%;
    margin: 8px 6px 0 0;
}
._comments_items_pic {
    flex: 0 0 auto;
}
._flex_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._reviews_title {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px 10px 0px;
}
._give_text_area_main textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    min-height: 140px;
}
._give_label {
    margin-top: 15px;
}
.reviews_area {
    padding: 20px 0px 40px 0px;
}
.stripe_payment {
    display: flex;
    align-items: center;
}
.payment_option a{
    background-color: black;
    color: #fff;
    padding: 9px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 19px;
}

.dropdownn {
    position: relative;
    display: flex;
    width: 100%;
}
.dropdown-input {
    background: #fff;
    cursor: pointer;
    border: 1px solid #e7ecf5;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 15px;
    padding: 6px;
    min-width: 100%;
}
.dropdown-content {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 248px;
    border: 1px solid #e7ecf5;
    box-shadow: 0px -8px 34px 0px rgba(0,0,0,0.05);
    overflow: auto;
    z-index: 11;
    top: 56px;
}
.dropdown-itemm {
    color: black;
    font-size: 10px;
    line-height: 1em;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #f7f2f2;
    text-transform: capitalize;
}
.dropdownn:hover .dropdown-content {
    display: block;
}
.section_title {
    font-size: 30px;
}
.payment3{
    display: flex;
    justify-content: space-between;
}
.main_search_form button:hover {
    background-color: #d82b05!important;
    color:#fff!important;
}
.main_search_form button:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #494544;
    border-color: #d03412;
    top: -100%;
    left: 0;
    z-index: -1;
    visibility: hidden;
    transition: .4s;
}
.res_user_pro_img img {
    height: 250px!important;
}
.dashboard-list {
    border-top: 1px solid #9e9999;
}
.dash_profile_img img {
    border-radius: 50%;
    width: 50%;
    margin: 15px auto;
    height: 135px;
}
.dash_profile_title {
    text-align: center;
}
#radios input {
    margin-right: 7px;
}

.forgot_pass_area{
    padding:120px 0px;
}




.profile_info_area {
    margin-top: 78px;
}
.profile_info {
    display: flex;
    align-items: center;
}
.profile_img {
    width: 150px;
    height: 140px;
    margin-right: 30px;
}
.profile_cont h3 {
    font-size: 26px;
    margin-bottom: 5px;
}
.edit_info_title {
    font-size: 21px;
}
.edit_info_form input[type="text"], .edit_info_form input[type="email"] {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 8px;
    font-size: 14px;
    width: 216px;
    margin-bottom: 28px;
    margin-right: 10px;
}
.edit_info_title {
    font-size: 21px;
}
.form_item {
    display: flex;
    margin-bottom: 20px;
}
.edit_password .form_item label {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}
.form_item input {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 53%;
    padding: 0px 10px;
}
.appointment_list {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.appointment_list_cancel {
    display: flex;
    align-items: center;
}
.appointment_list_cancel p {
    background-color: rgba(242, 17, 54,0.12) !important;
    color: #e63c3c !important;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
._table th:first-child, ._table tr td:first-child {
    padding: 8px 25px;
    min-width: 54px;
}
.ivu-alert {
    padding: 20px 48px 20px 16px!important;
}
._give_reviews_text {
    color: #9a9898!important;
    margin-right: 10px;
}
.single_restaurant {
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}
.restaurant_cont {
    padding: 10px 8px 15px 10px;
}
.res_alert {
    width: 50%;
    font-size: 18px!important;
    font-weight: 500;
}
label.form-box-label {
    font-weight: 500;
    font-size: 15px;
}
#radios label{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.closeCart {
    text-align: right;
    padding-right: 26px;
}
.closeCart span{
    cursor: pointer;
}
.closeCart i {
    color: red;
}
  .addcart_items_list {
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (20px + 30px));
    flex: 1 1;
    overflow: auto;
    max-height: 40vh;
}
 .addcart_items_list::-webkit-scrollbar {
    width: 5px; 
  }
  .addcart_items_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ddd;
    box-shadow: inset 0 0 6px #ddd; 
  }
  .addcart_items_list::-webkit-scrollbar-thumb {
    background-color:  #eb2f06;
    outline: 1px solid #fff; 
  }
  .restaurant_description {
    margin: 10px 0px;
}
._padd_t80{
    padding-top:50px;
}
.restaurant_meal_title {
    text-transform: capitalize;
}


